<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>
<body>
    
   <!-- Header -->
   <header>
    <h1>Parking Management System</h1>
</header>

<!-- Sidebar -->
<div class="sidebar">
    <ul>
        <li><a routerLink=''>Dashboard</a></li>
        <li><a routerLink="home">Parking</a></li>
        <li><a routerLink="parking-lots">parking lots</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
</body>
</html>



