<div class="container pt-5">
  <div class="card">
    <div class="quizName ps-5 d-flex justify-content-between p-3">
      <img
        src="../../assets/quizIcon.png"
        alt="Logo"
        height="60"
        class="d-inline-block"
      />
      <div class="angularQuizName pe-5">
        <h5>Angular & TypeScript Quiz</h5>
        <span>Welcome User</span>
      </div>
    </div>
    <div class="questionTImer d-flex justify-content-around p-3">
      <div class="points">10 Points</div>
      <div class="questionRemain">Question 1 of 9</div>
      <div class="timer">60 Sec 🕑</div>
    </div>
    <div class="question">Q. What is Your Name?</div>
    <div class="option pt-2">
      <ol>
        <li>Nikhil</li>
        <li>Nikhil</li>
      </ol>
    </div>
    <div class="btn d-flex justify-content-between p-5">
      <div class="previousBtn btnhover">
        <i class="fa fa-angle-double-left" style="font-size: 36px"></i>
      </div>
      <div class="refreshBtn btnhover">
        <i class="fa fa-refresh" style="font-size: 36px"></i>
      </div>
      <div class="nextBtn btnhover">
        <i class="fa fa-angle-double-right" style="font-size: 36px"></i>
      </div>
    </div>
  </div>
</div>
