/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap");

/*=============== HEADER & NAV ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #fff;
}
.devicer {
  width: 50em;
  display: block;
  height: 5px;
  background-color: skyblue;
  margin: 60px auto 0;
}
.navbar-brand {
  font-family: "Bruno Ace SC", cursive;
  font-size: 28px;
  color: #e53595;
}
.nav-item {
  font-family: "Goldman", cursive;
}
.navbar-nav li:hover {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: block;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .navbar-toggler-icon {
    font-size: 15px;
  }
  .navbar-nav li {
    font-size: 10px;
  }
  .navbar-nav li:hover {
    font-size: 12px;
  }
  .home__info-description {
    margin-bottom: 20px;
  }
  .ress {
    margin-left: 15px;
    padding-top: 5px;
  }
  .skills__subtitle {
    font-size: 10px;
  }
  .marginQuery {
    margin-top: 20px;
  }
  .devicer {
    width: 10em;
    display: block;
    height: 3px;
    background-color: skyblue;
    margin: 20px auto 0;
  }
  .certificate__Name p {
    font-size: 11px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .testimonial__description {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .footer__copy p {
    font-size: 11px;
  }
}

/* Show menu */

/* Active link */

/*=============== HOME ===============*/
.home__title h1 {
  font-family: "Lora", serif;
  letter-spacing: 2px;
}
.home__social a {
  text-decoration: none !important;
  color: black;
  font-size: large;
}
.profile-blob {
  position: relative;
  border: 2px solid skyblue;

  border-radius: 6.25rem;
  align-self: center;
  place-items: center;
}
.home-prifil {
  width: 160px;
  height: 290px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-prifil img {
  width: 150px;
  zoom: 100%;
}
.profileAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__info-title {
  font-family: "Goldman", cursive;
}
.home__info-number {
  font-family: "Goldman", cursive;
}
.home__info-description {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.home__social a {
  margin: 15px;
}
.home__shape-circle,
.home__shape-wawes {
  position: absolute;
  opacity: 0.2;
}
.home__shape-wawes {
  width: 70px;
  left: -30px;
  top: 20px;
}
.home__shape-circle {
  width: 160px;
  right: -20px;
  bottom: -20px;
  transform: rotate(15deg);
  z-index: -1;
}

/*=============== SKILLS ===============*/
.section__title {
  font-family: "Goldman", cursive;
}
.skills__title {
  font-family: "Bruno Ace SC", cursive;
}
/* Animation skills */

/*=============== QUALIFICATION ===============*/
.section__subtitle {
  font-family: "Goldman", cursive;
}
.qualification__title {
  font-family: "Bruno Ace SC", cursive;
}
/*=============== SERVICES ===============*/
.service__Icon {
  font-size: 36px;
}
.card-title {
  font-family: "Bruno Ace SC", cursive;
}
.card-text {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.card {
  position: relative;
  border: 2px solid skyblue;
  border-radius: 50px;
  overflow: hidden;
}
/*=============== PROJECTS ===============*/

/* Swiper class */
.certificate__Name p {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.card img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/*=============== TESTIMONIAL ===============*/
.testimonial__description {
  font-size: 26px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.testimonial__name {
  font-family: "Bruno Ace SC", cursive;
}
.testimonial__subtitle {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* Swiper class */

/*=============== CONTACT ===============*/
.contact__data-title {
  font-family: "Bruno Ace SC", cursive;
}

.contact__data-info {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contact__form-tag label {
  font-family: "Bruno Ace SC", cursive;
  margin: 5px;
}
/* Status color */
.colour__blue {
  color: blue;
}
.colour__red {
  color: red;
}
.contact__message {
  font-size: small;
  position: absolute;
  bottom: 2.8rem;
  left: 1.5rem;
}
.btn .btnSubmit {
  background-color: rgba(135, 207, 235, 0.644);
}

/*=============== FOOTER ===============*/
.list-group-item a {
  text-decoration: none;
}
.footer__title {
  font-family: "Bruno Ace SC", cursive;
}
.footerWork {
  font-family: "Goldman", cursive;
}
.footer__copy {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up*/

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
