<div class="welcometag p-5">
  <h1>Are You Ready ?</h1>
  <p> These quiz will contain 9 question. Each Question holds 10 Points </p>
  <h5>Rules : </h5>
<ul>
  <li>Correct Answer Increase your 10 points.</li>
  <li>Incorrect Answer Decrease your 10 points.</li>
  <li>You will have 60 sec to answer each Question.</li>
  <li>Refreshing the page will reset the Quiz.</li>
</ul>
<h3>All The Best !!</h3>
</div>
<div class="inputName ps-5 col-4">
  <input type="text " class="form-control mb-3">
  <div class="d-grid gap-2 d-block m-4">
    <button class="btn btn-primary" type="button">Start</button>

  </div>
</div>
