@media screen and (min-width: 480px) {
  .carousel-content {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }
}

.carousel-item {
  opacity: 0.7;
}
.fontDes h3 {
  font-family: "Goldman", cursive;
  letter-spacing: 2px;
}
.fontDes h5 {
  /* font-family: "Goldman", cursive; */
  font-size: 13px;
  letter-spacing: 2px;
}
.fontDes p {
  font-size: 10px;
  letter-spacing: 2px;
}
.card-img-top {
  width: 100%;
  height: 7vw;
  object-fit: cover;
}
.destination h3 {
  font-family: "Goldman", cursive;
  letter-spacing: 2px;
}
.card-title {
  font-family: "Wallpoet", cursive;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: orange;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.zoom {
  padding: 50px;

  transition: transform 0.2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2);
}
.contactContent {
  border-bottom: 2px solid rgb(216, 13, 145);
  font-family: "Goldman", cursive;
}

.bg-footer {
  background-color: #33383c;
  padding: 50px 0 30px;
}
.footer-heading {
  letter-spacing: 2px;
  font-family: "Wallpoet", cursive;
}

.footer-link a {
  color: #acacac;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  font-family: "Wallpoet", cursive;
}

.footer-link a:hover {
  color: #1bbc9b;
}

.contact-info {
  color: #acacac;
  font-size: 14px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}

.facebook {
  background-color: #4e71a8;
  color: #ffffff;
}

.twitter {
  background-color: #55acee;
  color: #ffffff;
}

.google {
  background-color: #d6492f;
  color: #ffffff;
}

.apple {
  background-color: #424041;
  color: #ffffff;
}

.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: "";
  width: 25px;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}
