<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-success">Client Admin Portal</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4" *ngFor="let item of ClientBookingArray">
              <div
                class="card text-white bg-info mb-3"
                style="max-width: 18rem"
              >
                <div class="card-header text-center">Total Room Booking</div>
                <div class="card-body">
                  <h3 class="card-title text-center">{{ item.totBookings }}</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngFor="let item of ClientBookingArray">
              <div
                class="card text-white bg-info mb-3"
                style="max-width: 18rem"
              >
                <div class="card-header text-center">Todays Booking</div>
                <div class="card-body">
                  <h3 class="card-title text-center">
                    {{ item.todaysBooking }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
