<div class="container-fluid">
  <div class="row navbar navbar-light">
    <div class="col-md-4 d-flex justify-content-around">
      <img
        class="navbar-brand"
        width="30"
        height="30"
        class="d-inline-block align-top"
        src="/assets/employeeLogo.jpg"
        alt=""
      />
    </div>
    <div class="col-md-4 d-flex justify-content-around fw-bold font-monospace">
      <h1>Employee Record App</h1>
    </div>
    <div class="col-md-4 d-flex justify-content-around">
      <div class="btnAddEmployee d-flex">
        <a class="btn btn-success" (click)="onAddEmp()">Add Employee</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div [ngClass]="isSidepannel ? ' col-md-8' : 'col-md-12 '">
      <table class="table table-bordered mt-4">
        <thead>
          <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of empArray let sr = index" >
            <td>{{ sr + 1 }}</td>
            <td>{{ item.fName }}</td>
            <td>{{ item.lName }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.contact }}</td>
            <td>{{ item.salary }}</td>
            <td>
              <button type="button" class="btn btn-primary me-3" (click)="onEdit(item)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="onDelete(item.empId)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container formDetail col-md-4" *ngIf="isSidepannel">
      <form>
        <div class="employeeDetails text-center">
          <h3>Employee Details</h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="">First Name</label>
            <input
              type="text"
              name="firstName"
              [(ngModel)]="employeeObj.fName"
              class="form-control"
            />
            <div class="text-danger">
              <span>This is required</span>
            </div>
          </div>
          <div class="col-md-6">
            <label for="">Last Name</label>
            <input
              type="text"
              name="lastNmae"
              [(ngModel)]="employeeObj.lName"
              class="form-control"
            />
            <div class="text-danger">
              <span>This is required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="">Email</label>
            <input
              type="email"
              name="email"
              [(ngModel)]="employeeObj.email"
              class="form-control"
            />
            <div class="text-danger">
              <span>Please Enter valid Email</span>
              <span>This is Required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="">Contact Number</label>
            <input
              type="text"
              name="contact"
              [(ngModel)]="employeeObj.contact"
              class="form-control"
            />
            <div class="text-danger">
              <span>Please enter valid contact number</span>
            </div>
          </div>
          <div class="col-md-6">
            <label for="">Salary</label>
            <input
              type="text"
              name="salary"
              [(ngModel)]="employeeObj.salary"
              class="form-control"
            />
            <div class="text-danger">
              <span>this is required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="savebtn text-center mt-3">
            <button type="button"  (click)="onSave()"  *ngIf="this.employeeObj.empId !== 0" class="btn btn-info me-3">
              Save
            </button>
            <button type="button" *ngIf="this.employeeObj.empId !== 0" class="btn btn-info me-3" (click)="onUpdate()" >
              update
            </button>
            <button type="button" (click)="onClose()" class="btn btn-danger">
              Close
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
