<div class="row headeTag text-center carousel-content d-flex">
  <div class="tagline mt-5">
    <span><h2>The Royal WorkSpace- An Eco-friendly Meeting</h2></span>
  </div>
  <div class="textinline mt-5">
    <ul class="list-inline d-flex justify-content-center">
      <li class="list-inline-item mx-3">
        <a href="#"
          ><i class="fas fa-snowflake"></i> <br />
          Air Conditioning</a
        >
      </li>
      <li class="list-inline-item mx-3">
        <a href="#"
          ><i class="fas fa-bullhorn"></i><br />
          Emergency Services</a
        >
      </li>

      <li class="list-inline-item mx-3">
        <a href="#"><i class="fa fa-phone"></i><br />24x7 Hotel Assistance</a>
      </li>
      <li class="list-inline-item mx-3">
        <a href="#"
          ><i class="fa fa-check"></i><br />Strict Hygiene Protocols</a
        >
      </li>
      <li class="list-inline-item mx-3">
        <a href="#"><i class="fa fa-car"></i><br />Free Parking</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div [ngClass]="packageForm ? 'col-md-7' : 'col-md-12'">
    <div class="card">
      <div class="card-header headportal">
        <div class="row">
          <div class="col-md-6">Rooms Portal</div>
          <div class="col-md-6 d-flex justify-content-end">
            <button class="btn btn-primary" (click)="formOpen()">
              Create Rooms
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr class="table-primary">
              <th>Sr No</th>
              <th>Room Name</th>
              <th>Room Location</th>
              <th>Seating Capacity</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let room of roomsArray; let sr = index">
              <td class="table-danger">{{ sr + 1 }}</td>
              <td>{{ room.roomName }}</td>
              <td>{{ room.roomLocation }}</td>
              <td>{{ room.roomSeatingCapacity }}</td>
              <td>{{ room.isRoomActive }}</td>
              <td class="text-center">
                <button
                  class="btn btnCreate me-2"
                  (click)="editRecord(room.roomId)"
                  (click)="formOpen()"
                >
                  Edit
                </button>
                <button class="btn btn-colourr" (click)="onDelete(room.roomId)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-5" *ngIf="packageForm">
    <div class="row">
      <div class="card">
        <div class="card-header headportal">Rooms Form</div>
        <div class="card-body">
          <form action="">
            <div class="row">
              <div class="col-md-6">
                <label for="">Room Name</label>
                <input
                  type="text"
                  placeholder="Enter Rooms Name"
                  class="form-control"
                  name="roomName"
                  [(ngModel)]="roomObj.roomName"
                />
              </div>
              <div class="col-md-6">
                <label for="">Room Location</label>
                <input
                  type="text"
                  placeholder="Enter Room Location"
                  class="form-control"
                  name="cost"
                  [(ngModel)]="roomObj.roomLocation"
                />
              </div>
              <div class="col-md-12">
                <label for="">Room Seating Capacity</label>
                <textarea
                  name="Room Seating Capacity"
                  class="form-control"
                  id=""
                  rows="3"
                  [(ngModel)]="roomObj.roomSeatingCapacity"
                ></textarea>
              </div>
              <div class="col-md-6 mt-3">
                <label for="">Is Active</label>
                <input
                  type="checkbox"
                  class="ms-2"
                  name="Active"
                  [(ngModel)]="roomObj.isRoomActive"
                />
              </div>
              <div class="row text-center mt-4">
                <div class="col-md-6">
                  <button class="btn btn-colourr">Reset</button>
                </div>
                <div class="col-md-6">
                  <button
                    class="btn btnCreate"
                    (click)="createNewRooms()"
                    *ngIf="roomObj.roomId == 0"
                  >
                    Save
                  </button>
                  <button
                    class="btn btnCreate"
                    (click)="updateRoom()"
                    *ngIf="roomObj.roomId !== 0"
                  >
                    update
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
