<div class="row">
  <div [ngClass]="packageForm ? 'col-md-7' : 'col-md-12'">
    <div class="card">
      <div class="card-header bg-success">
        <div class="row">
          <div class="col-md-6">Rooms Portal</div>
          <div class="col-md-6 d-flex justify-content-end">
            <button class="btn btn-primary" (click)="formOpen()">
              Create Rooms
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Room Name</th>
              <th>Room Location</th>
              <th>Seating Capacity</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoader">
            <tr *ngFor="let room of roomsArray; let sr = index">
              <td>{{ sr + 1 }}</td>
              <td>{{room.roomName}}</td>
              <td>{{ room.roomLocation }}</td>
              <td>{{ room.roomSeatingCapacity }}</td>
              <td>{{ room.isRoomActive }}</td>
              <td class="text-center">
                <button
                  class="btn btn-sm btn-primary me-2"
                  (click)="editRecord(room.roomId)"
                  (click)="formOpen()"
                >
                  Edit
                </button>
                <button
                  class="btn btn-sm btn-danger"
                  (click)="onDelete(room.roomId)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>

          <tbody *ngIf="isLoader">
            <tr>
              <td colspan="6" class="text-center">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-secondary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-danger" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-warning" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-info" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-light" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-border text-dark" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-5" *ngIf="packageForm">
    <div class="row">
      <div class="card">
        <div class="card-header bg-success">Create Rooms</div>
        <div class="card-body">
          <form action="">
            <div class="row">
              <div class="col-md-6">
                <label for="">Room Name</label>
                <input
                  type="text"
                  placeholder="Enter Rooms Name"
                  class="form-control"
                  name="roomName"
                  [(ngModel)]="roomObj.roomName"
                />
              </div>
              <div class="col-md-6">
                <label for="">Room Location</label>
                <input
                  type="text"
                  placeholder="Enter Room Location"
                  class="form-control"
                  name="cost"
                  [(ngModel)]="roomObj.roomLocation"
                />
              </div>
              <div class="col-md-12">
                <label for="">Room Seating Capacity</label>
                <textarea
                  name="Room Seating Capacity"
                  class="form-control"
                  id=""
                  rows="3"
                  [(ngModel)]="roomObj.roomSeatingCapacity"
                ></textarea>
              </div>
              <div class="col-md-6 mt-3">
                <label for="">Is Active</label>
                <input
                  type="checkbox"
                  class="ms-2"
                  name="Active"
                  [(ngModel)]="roomObj.isRoomActive"
                />
              </div>
              <div class="row text-center mt-4">
                <div class="col-md-6">
                  <button class="btn btn-primary">Reset</button>
                </div>
                <div class="col-md-6">
                  <button
                    class="btn btn-success"
                    (click)="createNewRooms()"
                    *ngIf="roomObj.roomId == 0"
                  >
                    <button
                      *ngIf="isLoader == true"
                      class="btn btn-light"
                      type="button"
                      disabled
                    >
                      <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                    </button>
                    Save
                  </button>
                  <button
                    class="btn btn-success"
                    (click)="updateRoom()"
                    *ngIf="roomObj.roomId !== 0"
                  >
                    <button
                      *ngIf="isLoader == true"
                      class="btn btn-light"
                      type="button"
                      disabled
                    >
                      <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                    </button>
                    update
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

